@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

/* --------- */

.data-table {
  width: 60%;
  margin: 2rem auto;
  padding: 1.5rem;

  box-shadow: 3px 3px 20px rgb(0 0 0 / 30%);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .data-table {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .data-table {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .data-table {
    width: 95%;
  }
}

table {
  width: 100%;
  border-spacing: 0;
}

thead th {
  border-bottom: 1px solid #111;
  cursor: pointer;
}

tfoot th {
  border-top: 1px solid #111;
}

tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(odd) > td:first-child {
  background-color: #f1f1f1;
}

tbody tr:hover > td:first-child {
  background-color: #eaeaea;
}

tbody tr > td:first-child {
  width: 15rem;
}

td {
  padding: 0.6rem 1.5rem;
  color: #333;
}

@media screen and (max-width: 575px) {
  html {
    font-size: 90%;
  }

  td {
    padding: 0.4rem 0.6rem;
  }
}

th {
  padding: 0.8rem 1.5rem;
  text-align: left;
  font-weight: 500;
}

thead .th-sort-asc::after {
  content: '\25b4';
}

thead .th-sort-desc::after {
  content: '\25be';
}

thead .th-sort-asc,
thead .th-sort-desc {
  position: relative;
}

thead .th-sort-asc::after,
thead .th-sort-desc::after {
  margin-left: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.5rem;
}

/* Length */
.data-table-length {
  display: flex;
  align-items: center;
}

.data-table-length > select {
  margin: 0 0.5rem;
  font-size: 1rem;
}

/* Search */
.data-table-search {
  display: flex;
  align-items: center;
  position: relative;
}

.data-table-search > input {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;

  font-family: inherit;
  padding-right: 2rem;
}

.data-table-search > input:hover + #searchClear,
.data-table-search > input:focus + #searchClear,
#searchClear:hover {
  visibility: visible;
  opacity: 0.8;
}

#searchClear {
  position: absolute;
  top: 50%;
  right: 0.5rem;

  transform: translateY(-50%);
  padding: 0 4px;

  font-size: 1rem;
  font-weight: 500;
  color: rgba(251, 147, 0, 1);

  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;

  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 0.5rem;
}

/* Info */
.data-table-info {
  color: #333;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
}

.pagination-item {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid #dee2e6;

  color: #333;

  cursor: pointer;
  user-select: none;
}

.pagination-item:hover {
  background-color: #e9ecef;
  color: rgba(251, 147, 0, 0.75);
}

.pagination-item:first-child {
  margin-left: 0;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.pagination-item:last-child {
  margin-right: 0;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.pagination-item.active {
  background-color: rgba(251, 147, 0, 1);
  border-color: rgba(251, 147, 0, 1);
  color: #fff;
}

.pagination-item.disabled {
  pointer-events: none;
  color: #999;
}

/* ---------- Pre Loading ---------- */
@-webkit-keyframes sky {
  from {
    left: 50%;
  }
  to {
    left: -30%;
  }
}

@keyframes sky {
  from {
    left: 50%;
  }
  to {
    left: -30%;
  }
}

@-webkit-keyframes airplane {
  0% {
    top: 40%;
    left: 20%;
  }
  25% {
    top: 55%;
    left: 40%;
  }
  75% {
    top: 30%;
    left: 10%;
  }
  100% {
    top: 40%;
    left: 20%;
  }
}

@keyframes airplane {
  0% {
    top: 40%;
    left: 20%;
  }
  25% {
    top: 55%;
    left: 40%;
  }
  75% {
    top: 30%;
    left: 10%;
  }
  100% {
    top: 40%;
    left: 20%;
  }
}

#preLoading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #52b3d9;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cloud {
  position: absolute;
  background-color: #c5eff7;
  width: 7em;
  height: 7em;
  border-radius: 7em;
  left: 80%;
  top: 5%;
  animation: sky 2s infinite;
  -webkit-animation: sky 5s infinite;
}

.cloud::before {
  content: '';
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  background-color: #c5eff7;
  margin-left: -2em;
}

.cloud::after {
  content: '';
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 7em;
  background-color: #c5eff7;
  margin-left: 4em;
  margin-top: -6em;
}

.cloud:nth-of-type(2) {
  background-color: #e4f1fe;
  left: 70%;
  top: 30%;
  transform: rotate(180deg) skew(-20deg);
  animation: sky 7s infinite;
  -webkit-animation: sky 7s infinite;
}

.cloud:nth-of-type(2)::before,
.cloud:nth-of-type(2)::after {
  background-color: #e4f1fe;
}

.cloud:nth-of-type(3) {
  top: 70%;
  left: 80%;
  animation: sky 9s infinite;
  -webkit-animation: sky 9s infinite;
}

.cloud:nth-of-type(3)::before,
.cloud:nth-of-type(3)::after {
  transform: rotate(60deg) skewY(-23deg);
  width: 6em;
  border-radius: 6em;
  height: 6em;
  margin-left: -4em;
}

.cloud:nth-of-type(3)::after {
  margin-left: -1em;
  margin-top: -9em;
}

.airplane {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 150px solid #34495e;
  border-bottom: 100px solid transparent;
  z-index: 100;
  transform: rotate(-20deg) skew(10deg);
  top: 40%;
  left: 20%;
  animation: airplane 15s infinite;
  -webkit-animation: airplane 15s infinite;
}

.airplane::before {
  border-bottom: 27px solid #4b77bc;
  border-left: 45px solid transparent;
  border-right: 2px solid transparent;
  border-radius: -11px;
  height: 0;
  width: 100px;
  content: '';
  position: absolute;
  z-index: 6;
  height: 0em;
  margin-left: -10em;
  margin-top: -5px;
  transform: rotate(182deg) skewX(-35deg);
}

.airplane::after {
  border-bottom: 26px solid #34495e;
  border-left: 33px solid transparent;
  border-right: 2px solid transparent;
  height: 0;
  width: 98px;
  content: '';
  position: absolute;
  z-index: 6;
  height: 0em;
  margin-left: -9.9em;
  margin-top: -2px;
  transform: rotate(182deg) skewX(-47deg);
}
