// Reset CSS
html {
  box-sizing: border-box;

  // IP5
  @media screen and (max-width: 320px) {
    font-size: 88%;
  }
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: $text-color;
  line-height: 1.5;

  overflow-x: hidden;
}

input,
textarea,
select,
button {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-color;
}

img {
  display: block;
  max-width: 100%;
}
