// ---------- DROPDOWN for navbar ----------
.dropdown {
  position: relative;

  &-list {
    position: absolute;
    left: 50%;
    top: 150%;
    z-index: 2;
    transform: translate(-50%, 2rem);

    min-width: 22rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;

    background-color: #fff;
    box-shadow: $box-shadow;

    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;

    // Responsive
    @include responsive-down($md) {
      transform: translate(0);
      box-shadow: none;
      position: static;

      margin-top: 1.5rem;
      padding: 0;
      min-width: 0;

      opacity: 1;
      visibility: visible;
    }
  }

  &-item {
    @include flex-box(flex-start, center);

    padding: 1rem 0.5rem;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $background-color;
    }

    &-icon {
      height: 2.25rem;
      width: 2.25rem;
    }

    &-content {
      margin-left: 1rem;
    }

    &-heading {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: $primary-color;
      font-weight: 500;
      letter-spacing: 0.08em;
    }

    &-text {
      color: $text-color-dark;
      font-size: 0.85rem;
      margin-top: 0.4rem;
      display: block;
    }

    &-ver {
      color: $primary-color;
      background-color: rgba(51, 94, 234, 0.1);
      border-radius: 50rem;
      margin-left: auto;
      display: inline-block;
      padding: 0.15rem 0.75rem;
      font-size: 0.75rem;
    }

    &-menu {
      margin-top: 0.4rem;

      & > a {
        transition: color 200ms ease-in-out;
        margin-bottom: 0.75rem;

        & > span {
          color: $primary-color;
          font-size: 0.8rem;
        }
      }

      & > a:hover {
        color: $primary-color;
      }
    }

    @include responsive-down($md) {
      padding: 1rem 0;
    }
  }

  &:hover > &-list {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);

    @include responsive-down($md) {
      transform: translate(0);
    }
  }

  // Pages
  #navbarPages + &-list {
    display: flex;
    min-width: 35rem;
    padding: 1.5rem 2rem;

    @include responsive-down($md) {
      padding: 0;
      align-items: flex-start;
      min-width: 0;
    }
  }

  &-left > &-item,
  &-right > &-item {
    padding: 0.5rem;
    border: 0;

    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;

    cursor: auto;

    @include responsive-down($md) {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  &-left,
  &-right {
    flex-basis: 50%;
    @include flex-box(space-between, flex-start, wrap);

    @include responsive-down($md) {
      padding: 0;
      @include flex-box(space-between, flex-start, nowrap, column);
    }
  }

  // Landings
  #navbarLandings + &-list {
    display: flex;
    min-width: 42rem;
    padding: 0;
    overflow: hidden;

    @include responsive-down($md) {
      min-width: 0;
    }
  }

  &-img + &-right {
    padding: 1rem 1.5rem 1rem 2rem;

    @include responsive-down($md) {
      padding: 0;
      flex-direction: row;
      flex-basis: 100%;
    }
  }

  &-img {
    background-image: url('../images/photo-3.jpg');
    background-position: center center;
    background-size: cover;

    @include flex-box(center, center, nowrap, column);

    position: relative;
    color: #fff;

    & > * {
      position: relative;
    }

    &-heading {
      font-size: 1.1rem;
      font-weight: 500;
    }

    &-desc {
      font-size: 0.875rem;
    }

    &-view {
      margin-top: 1rem;
    }

    &::before {
      position: absolute;
      content: '';
      inset: 0;
      background-color: $primary-color;
      opacity: 0.7;
    }
  }

  &-item-menu.mb-1 {
    margin-bottom: 1rem;
  }

  // Account
  #navbarAccount + &-list {
    min-width: 14rem;
    padding: 1rem;

    @include responsive-down($md) {
      padding: 0;
      min-width: 0;
      padding-bottom: 1rem;
    }
  }

  #navbarAccount + &-list > &-item {
    border: 0;
    padding: 0.5rem 1rem;
    position: relative;

    @include responsive-down($md) {
      padding: 0.5rem 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-menu {
    position: absolute;
    left: calc(100% + 1rem);
    top: -1rem;

    min-width: 14rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;

    background-color: #fff;
    box-shadow: $box-shadow;

    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;

    @include responsive-down($md) {
      position: static;
      opacity: 1;
      visibility: visible;
      box-shadow: none;

      padding: 0.5rem 1rem;
      display: none;
    }

    &.show {
      display: block;
    }
  }

  &-link {
    display: block;
    color: $text-color-dark;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $primary-color;
    }
  }

  #navbarAccount + &-list > &-item:hover > &-menu {
    opacity: 1;
    visibility: visible;
  }

  #navbarDocumentation + &-list {
    @include responsive-down($md) {
      padding-bottom: 1rem;
    }
  }

  &-toggle {
    width: 100%;
    @include flex-box(space-between, center);
    font-size: 0.85rem;
    color: $text-color-dark;

    &:hover {
      color: $primary-color;
    }

    @include responsive-down($md) {
      & > ion-icon {
        transform: rotate(90deg);
        transition: transform 200ms ease-in-out;
      }

      &.active > ion-icon {
        transform: rotate(270deg);
      }
    }
  }
}

@include responsive-down($md) {
  .dropdown {
    &-img {
      display: none;
    }
  }
}

// ---------- SHAPE ----------
.shape {
  position: relative;

  &-inner {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    & > img {
      transform: scale(2);
      transform-origin: top center;
      width: 100%;
    }
  }
}

.pricing + .shape {
  margin-top: -16rem;
}

.testimonial + .shape {
  margin-top: -3rem;
}

// ---------- CAROUSEL ----------
.carousel {
  overflow: hidden;

  @include responsive-down($md) {
    height: 65vh;
  }

  &-inner {
    position: relative;
    height: 100%;

    @include responsive-down($sm) {
      height: 17rem;
    }

    @include responsive-down($xs) {
      height: 18.5rem;
    }
  }

  &-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: 4rem 2.5rem;
    text-align: center;

    @include responsive-down($sm) {
      padding: 2rem 2.5rem;
    }

    @include responsive-down($xs) {
      padding: 1rem 2.5rem;
    }
  }

  &-logo {
    width: 9rem;
    object-fit: cover;
    margin: 0 auto;

    @include responsive-down($sm) {
      width: 7rem;
    }
  }

  &-text {
    font-weight: 300;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
    line-height: 1.8;

    @include responsive-down($sm) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &-author {
    text-transform: uppercase;
    color: $text-color-light;
    font-size: 0.85rem;
  }

  & > button {
    padding: 1rem 1.1rem;
    border-radius: 50%;
    border: none;

    color: #fff;
    font-size: 1.1rem;
    background-color: $primary-color;

    position: absolute;
    top: 50%;
    z-index: 2;

    & > ion-icon {
      vertical-align: middle;
    }

    @include responsive-down($sm) {
      top: 80%;
    }

    @include responsive-down($xs) {
      top: 75%;
    }
  }

  &-next {
    right: 0;
    transform: translate(50%, -50%);
  }

  &-back {
    left: 0;
    transform: translate(-50%, -50%);
  }
}

// TYPEWRITER
.typewriter {
  display: flex;

  & > span:first-child {
    flex-shrink: 0;
  }
}
