$primary-color: #335eea;
$secondary-color: #42ba96;

$text-color: #161c2d;
$text-color-light: #869ab8;
$text-color-dark: #506690;

$background-color: #f1f4f8;
$background-color-dark: #1b2a4e;
$background-color-light: #fff;

$font-family: 'Poppins', sans-serif;
$box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
